body{
    text-align: center;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.divisao{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.blocos{
    width: 300px;
    height: 380px;
    border: 1px solid black;
    padding-left: 90px;
}
.blocos ul li{
    font-size: 18px;
    padding: 10px;

}
.Livre{
    color:green;
}
.Ocupado{
    color: red;
}